/* Style dla tła przypominającego niebo w elemencie header */
* {
background-color: #2d404f;
}
header {
display: flex;
justify-content: space-between;
align-items: center;
background: linear-gradient(to bottom, #0c1b3e, #050f26);
background-size: cover; /* Dopasuj rozmiar tła */
padding: 20px;
border: 2px solid black;
border-radius: 10px;
overflow: hidden; /* Ukryj zawartość poza granicami */
position: relative;
}
.logo {
flex: 1;
background-color: transparent;
}
h1 {
background-color: transparent;
}
.title {
flex: 2;
text-align: center;
background-color: transparent;
}

.date {
flex: 1;
text-align: right;
}
.body-content {
display: flex;
padding-top: 20px; /* dodajemy odstęp nad treścią */
}

.left, .right {
flex: 1; /* dzielimy dostępną przestrzeń równomiernie między sekcje */
padding: 20px;
}
.logo img {
border: 2px solid black;
border-radius: 10px;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
max-width: 200px; /* maksymalna szerokość obrazka */
max-height: 200px; /* maksymalna wysokość obrazka */
}
.title {
flex: 5;
text-align: center;
color: white; /* Biały kolor tekstu */
font-size: 30px;
width: 100%;
text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* Dodaj cień do tekstu */
-webkit-text-stroke-width: 0.3px; /* Szerokość konturu tekstu */
-webkit-text-stroke-color: black; /* Kolor konturu tekstu */
}
/* Style dla planety Ziemi */
.earth {
position: relative;
width: 150px;
height: 150px;
border-radius: 50%;
overflow: hidden; /* Ukryj zawartość poza granicami planety */
background-image: url('/images/moon.png'); /* Dodaj obrazek jako tło planety */
background-size: cover; /* Dopasuj rozmiar obrazka do okręgu */
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Dodaj cień */
}
/* Style dla kontenera */
.container {
display: flex;
flex-align: center;
justify-content: center;
}
.container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
min-height: 60vh;
text-align: center;
}

.back-button {
margin-top: 20px;
padding: 10px 20px;
background-color: #2d404f;
color: white;
border: 1px solid black;
border-radius: 5px;
cursor: pointer;
width: 10vw;
height: 5vh;
font-size: 25px;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7); /* Cień */
}

.back-button:hover {
background-color: #3b5067;
}

.saved-image {
max-width: 100%;
height: auto;
height: 55vh;
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7); /* Cień */
}

.transparent-form {
background: transparent;
text-align: center;
}
h1 {
color: white;
}