<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dane Zapisane</title>
    <link rel="stylesheet" type="text/css" href="css/savedStyle.css">
</head>
<!-- Header -->
<header>
    <div class="logo">
        <img src="/images/logo.jpg" alt="Logo">
    </div>
    <div class="title">
        <h1>MONITOR OBIEKTÓW OKOŁOZIEMSKICH</h1>
    </div>
    <div class="earth"> <!-- Zmieniona klasa z moon na earth -->
        <!-- Obrazek planety Ziemi zostanie umieszczony tutaj jako tło -->
    </div>
</header>

<body>
<div class="container">
    <h1>Dane zostały zapisane</h1>
    <img src="/images/saved.jpg" alt="Dane zapisane" class="saved-image">
    <form action="/" method="get" class="transparent-form">
        <button type="submit" class="back-button">Back</button>
    </form>
</div>
</body>
</html>
